In [1]:
import pandas as pd
import os

In [2]:
folder_path = 'C:/Users/ASUS/Downloads/Telegram Desktop/New folder/data/dataFile'

In [3]:
# Define the directory where the CSV files are stored
directory = 'C:/Users/ASUS/Downloads/Telegram Desktop/New folder/data/dataFile'

# Counter for unique index
index_counter = 1
i=0
# List to keep track of dataframes for final concatenation
dataframes = []

# Process each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)
        # Read the CSV file
        df = pd.read_csv(file_path)

        # Check if the 'date' column exists in the dataframe
        if 'date' in df.columns:
            # Convert the 'date' column to datetime
            df['datetime'] = pd.to_datetime(df['date'])

            # Split the 'datetime' column into separate 'date' and 'time' columns
            df['date'] = df['datetime'].dt.date
            df['time'] = df['datetime'].dt.time

            # Drop the original 'datetime' column if no longer needed
            df.drop('datetime', axis=1, inplace=True)

        # Add an index column with the current index_counter value
        df['Index'] = index_counter

        # Append the dataframe to the list
        dataframes.append(df)

        # Increment the index_counter
        index_counter += 1
        
        df['Quarter'] = 'Q' + pd.to_datetime(df['date']).dt.quarter.astype(str)        
        new_filename = f"modified_{filename}"  
        print(new_filename)
        print(i)
        dataframes[i].to_csv(new_filename, index=False)
        i+=1

# At this point, each dataframe in 'dataframes' list has the date and time columns split,
# and a new 'Index' column added, but none of them have been saved back to CSV files.
# They can be saved later as needed.

In [5]:
 dataframes[100]

,date,close,high,low,open,volume,sma5,sma10,sma15,sma20,...,ULTOSC,WILLR,ATR,Trange,TYPPRICE,HT_DCPERIOD,BETA,time,Index,Quarter
0,2015-02-02,168.20,168.25,168.14,168.25,79680,168.222,168.379,168.497333,168.6095,...,39.805575,-89.189189,0.239058,0.11,168.196667,21.874981,5.656249e-01,10:18:00,101,Q1
1,2015-02-02,167.88,168.22,167.88,168.22,115595,168.162,168.297,168.439333,168.5540,...,29.420738,-100.000000,0.246268,0.34,167.993333,21.706956,2.876037e-01,10:19:00,101,Q1
2,2015-02-02,167.99,168.02,167.76,167.88,119335,168.102,168.246,168.388000,168.5045,...,39.050015,-79.090909,0.247249,0.26,167.923333,21.585897,7.563085e-02,10:20:00,101,Q1
3,2015-02-02,167.86,167.99,167.82,167.98,67885,168.036,168.185,168.333333,168.4580,...,39.068366,-90.909091,0.241731,0.17,167.890000,21.566711,5.687098e-01,10:21:00,101,Q1
4,2015-02-02,168.08,168.20,167.67,167.86,118335,168.002,168.130,168.293333,168.4060,...,48.607709,-63.063063,0.262322,0.53,167.983333,21.610968,-1.144604e-01,10:22:00,101,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671008,2022-10-24,15.75,15.75,15.70,15.75,460825,15.750,15.740,15.753333,15.7650,...,83.443878,-50.000000,0.055564,0.05,15.733333,15.192852,0.000000e+00,19:10:00,101,Q4
671009,2022-10-24,15.75,15.75,15.70,15.75,487380,15.750,15.740,15.750000,15.7625,...,83.890306,-50.000000,0.055167,0.05,15.733333,15.467579,0.000000e+00,19:11:00,101,Q4
671010,2022-10-24,15.75,15.80,15.70,15.75,1686543,15.750,15.745,15.746667,15.7600,...,83.116883,-50.000000,0.058369,0.10,15.750000,15.601673,-4.272895e-12,19:12:00,101,Q4
671011,2022-10-24,15.75,15.75,15.70,15.75,540365,15.750,15.745,15.743333,15.7575,...,84.545455,-50.000000,0.057771,0.05,15.733333,15.791092,-1.722664e-12,19:13:00,101,Q4
671012,2022-10-24,15.70,15.75,15.70,15.70,570185,15.740,15.740,15.740000,15.7525,...,75.064935,-100.000000,0.057216,0.05,15.716667,16.039878,-1.722664e-12,19:14:00,101,Q4

In [2]:
folder_path = 'C:/Users/ASUS/Downloads/Telegram Desktop/New folder/data'
directory = 'C:/Users/ASUS/Downloads/Telegram Desktop/New folder/data'

# Counter for unique index
index_counter = 1
i=0
# List to keep track of dataframes for final concatenation
dataframes = []

# Process each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)
        # Read the CSV file
        df = pd.read_csv(file_path)
        dataframes.append(df)


concatenated_df = pd.concat(dataframes, ignore_index=True)

In [3]:
concatenated_df

,date,close,high,low,open,volume,sma5,sma10,sma15,sma20,...,ULTOSC,WILLR,ATR,Trange,TYPPRICE,HT_DCPERIOD,BETA,time,Index,Quarter
0,2015-02-02,1544.00,1545.00,1543.10,1545.00,220,1544.94,1545.890,1546.756667,1546.9950,...,43.728004,-86.466165,2.056306,2.10,1544.033333,27.840336,0.138547,10:18:00,1,Q1
1,2015-02-02,1543.70,1544.00,1543.00,1544.00,29,1544.63,1545.545,1546.446667,1546.8650,...,47.390635,-89.629630,1.980855,1.00,1543.566667,27.115144,0.094738,10:19:00,1,Q1
2,2015-02-02,1543.00,1543.70,1542.50,1543.70,28,1544.22,1545.205,1546.013333,1546.5800,...,43.139523,-92.857143,1.925080,1.20,1543.066667,26.735549,0.336124,10:20:00,1,Q1
3,2015-02-02,1542.30,1543.00,1542.30,1543.00,125,1543.64,1544.635,1545.533333,1546.3950,...,44.657886,-100.000000,1.837574,0.70,1542.533333,26.601907,0.608042,10:21:00,1,Q1
4,2015-02-02,1542.10,1542.15,1541.10,1541.10,113,1543.02,1544.235,1545.143333,1546.0725,...,54.066603,-86.111111,1.792033,1.20,1541.783333,26.691996,0.253168,10:22:00,1,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9461412,2022-10-24,144.55,144.55,144.25,144.30,52938,144.33,144.315,144.380000,144.4400,...,59.301640,-9.090909,0.201991,0.30,144.450000,25.847632,0.353040,19:10:00,15,Q4
9461413,2022-10-24,144.50,144.60,144.40,144.50,31047,144.38,144.330,144.383333,144.4325,...,57.554260,-18.181818,0.201849,0.20,144.500000,25.483372,0.643653,19:11:00,15,Q4
9461414,2022-10-24,144.45,144.60,144.35,144.55,35389,144.42,144.335,144.376667,144.4225,...,64.303777,-27.272727,0.205288,0.25,144.466667,24.700398,0.834346,19:12:00,15,Q4
9461415,2022-10-24,144.55,144.55,144.35,144.50,40375,144.47,144.355,144.380000,144.4150,...,64.863849,-9.090909,0.204910,0.20,144.483333,23.975395,0.798573,19:13:00,15,Q4
9461416,2022-10-24,144.55,144.60,144.35,144.50,77614,144.52,144.375,144.376667,144.4125,...,67.965556,-9.090909,0.208131,0.25,144.500000,23.706515,0.715507,19:14:00,15,Q4

In [4]:
concatenated_df.to_csv('fact_t.csv', index=False)

In [17]:
i=0
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)    # Save the modified data frame to a new CSV file
        #new_filename = f"modified_{filename}"  
        print(filename)
        print(i)
        dataframes[i].to_csv(filename, index=False)
    # For example, add a prefix 'modified_' to the original filename

ACC_minute_data_with_indicators.csv
0
ADANIENT_minute_data_with_indicators.csv
1
ADANIGREEN_minute_data_with_indicators.csv
2
ADANIPORTS_minute_data_with_indicators.csv
3
AMBUJACEM_minute_data_with_indicators.csv
4
APOLLOHOSP_minute_data_with_indicators.csv
5
ASIANPAINT_minute_data_with_indicators.csv
6
AUROPHARMA_minute_data_with_indicators.csv
7
AXISBANK_minute_data_with_indicators.csv
8
BAJAJ-AUTO_minute_data_with_indicators.csv
9
BAJAJFINSV_minute_data_with_indicators.csv
10
BAJAJHLDNG_minute_data_with_indicators.csv
11
BAJFINANCE_minute_data_with_indicators.csv
12
BANDHANBNK_minute_data_with_indicators.csv
13
BANKBARODA_minute_data_with_indicators.csv
14
BERGEPAINT_minute_data_with_indicators.csv
15
BHARTIARTL_minute_data_with_indicators.csv
16
BIOCON_minute_data_with_indicators.csv
17
BOSCHLTD_minute_data_with_indicators.csv
18
BPCL_minute_data_with_indicators.csv
19
BRITANNIA_minute_data_with_indicators.csv
20
CHOLAFIN_minute_data_with_indicators.csv
21
CIPLA_minute_data_with_indicators.csv
22
COALINDIA_minute_data_with_indicators.csv
23
COLPAL_minute_data_with_indicators.csv
24
DABUR_minute_data_with_indicators.csv
25
DIVISLAB_minute_data_with_indicators.csv
26
DLF_minute_data_with_indicators.csv
27
DMART_minute_data_with_indicators.csv
28
DRREDDY_minute_data_with_indicators.csv
29
EICHERMOT_minute_data_with_indicators.csv
30
GAIL_minute_data_with_indicators.csv
31
GLAND_minute_data_with_indicators.csv
32
GODREJCP_minute_data_with_indicators.csv
33
GRASIM_minute_data_with_indicators.csv
34
HAVELLS_minute_data_with_indicators.csv
35
HCLTECH_minute_data_with_indicators.csv
36
HDFCAMC_minute_data_with_indicators.csv
37
HDFCBANK_minute_data_with_indicators.csv
38
HDFCLIFE_minute_data_with_indicators.csv
39
HDFC_minute_data_with_indicators.csv
40
HEROMOTOCO_minute_data_with_indicators.csv
41
HINDALCO_minute_data_with_indicators.csv
42
HINDPETRO_minute_data_with_indicators.csv
43
HINDUNILVR_minute_data_with_indicators.csv
44
ICICIBANK_minute_data_with_indicators.csv
45
ICICIGI_minute_data_with_indicators.csv
46
ICICIPRULI_minute_data_with_indicators.csv
47
IGL_minute_data_with_indicators.csv
48
INDIGO_minute_data_with_indicators.csv
49
INDUSINDBK_minute_data_with_indicators.csv
50
INDUSTOWER_minute_data_with_indicators.csv
51
INFY_minute_data_with_indicators.csv
52
IOC_minute_data_with_indicators.csv
53
ITC_minute_data_with_indicators.csv
54
JINDALSTEL_minute_data_with_indicators.csv
55
JSWSTEEL_minute_data_with_indicators.csv
56
JUBLFOOD_minute_data_with_indicators.csv
KOTAKBANK_minute_data_with_indicators.csv
LICI_minute_data_with_indicators.csv
LTI_minute_data_with_indicators.csv
LT_minute_data_with_indicators.csv
LUPIN_minute_data_with_indicators.csv
MARICO_minute_data_with_indicators.csv
MARUTI_minute_data_with_indicators.csv
MCDOWELL-N_minute_data_with_indicators.csv
MM_minute_data_with_indicators.csv
MUTHOOTFIN_minute_data_with_indicators.csv
NAUKRI_minute_data_with_indicators.csv
NESTLEIND_minute_data_with_indicators.csv
NIFTY 50_minute_data_with_indicators.csv
NIFTY BANK_minute_data_with_indicators.csv
NMDC_minute_data_with_indicators.csv
NTPC_minute_data_with_indicators.csv
ONGC_minute_data_with_indicators.csv
PEL_minute_data_with_indicators.csv
PGHH_minute_data_with_indicators.csv
PIDILITIND_minute_data_with_indicators.csv
PIIND_minute_data_with_indicators.csv
PNB_minute_data_with_indicators.csv
POWERGRID_minute_data_with_indicators.csv
RELIANCE_minute_data_with_indicators.csv
SAIL_minute_data_with_indicators.csv
SBICARD_minute_data_with_indicators.csv
SBILIFE_minute_data_with_indicators.csv
SBIN_minute_data_with_indicators.csv
SHREECEM_minute_data_with_indicators.csv
SIEMENS_minute_data_with_indicators.csv
SUNPHARMA_minute_data_with_indicators.csv
TATACONSUM_minute_data_with_indicators.csv
TATAMOTORS_minute_data_with_indicators.csv
TATASTEEL_minute_data_with_indicators.csv
TCS_minute_data_with_indicators.csv
TECHM_minute_data_with_indicators.csv
TITAN_minute_data_with_indicators.csv
TORNTPHARM_minute_data_with_indicators.csv
ULTRACEMCO_minute_data_with_indicators.csv
UPL_minute_data_with_indicators.csv
VEDL_minute_data_with_indicators.csv
WIPRO_minute_data_with_indicators.csv
YESBANK_minute_data_with_indicators.csv